@use 'vars' as *;
@use 'mixins' as *;

.about-us {
    top: 20rem;
    height: 36rem;
}

.about-us h2,
.about-us p,
.about-us .bordered-button p,
.about-us img {
    position: absolute;
}

.about-us h2 {
    margin: 10rem auto 2rem;
}

.about-us p:not(.bordered-button p) {
    margin: 18.5rem 4rem 3.75rem;
}

.about-us .bordered-button p {
    margin: 10rem auto 0;
    top: 17.375rem;
    left: 50%;
    transform: translateX(-50%);
}

.about-us img {
    top: 0;
    width: 100%;
    height: 36rem;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    z-index: -10;
}
