@use 'vars' as *;

.about-us {
    height: 35.375rem;

    img {
        position: absolute;
    }
    
    h2,
    p,
    .bordered-button p {
        margin: 0 auto;
        position: relative;
    }

    h2 {
        top: 9.75rem;
    }
    
    p:not(.bordered-button p) {
        top: 11rem;
        width: 15.625rem;
    }
    
    .bordered-button p {
        top: 14.75rem;
    }
    
    img {
        top: 0;
        width: 100%;
        height: 35.375rem;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        z-index: -10;
    }
}