@use 'vars' as *;
@use 'mixins' as *;

.advisor {
    // margin: .625rem;
    background-color: $dark-blue;
}

.advisor p {
    border-bottom: $border-bottom2;
}

.advisor form label {
    display: block;
}

.advisor form select {
    margin: .625rem;
    width: 100%;
}