@use 'vars' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section,
footer {
    position: relative;
    overflow: hidden;
}

.logo {
        width: 6.25rem;
}

.wave {
    position: absolute;
    z-index: 50;
}

.wave-white,
.wave-darkblue {
    width: 46rem;
    height: 9rem;
    left: -4.25rem;
}

.wave-white {
    bottom: -5rem;
}

.wave-darkblue {
    bottom: -4.5rem;
    background-color: $white;
    // z-index: 50;
}

.wave-lightblue {
    width: 51.25rem;
    height: 9rem;
    bottom: -4.875rem;
    // top: -4rem;
    left: -8.125rem;
    background-color: $dark-blue;
    // z-index: 50;
}
