@use 'vars' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section,
footer {
    position: relative;
    overflow: hidden;
}

select,
input[type=submit] {
    cursor: pointer;
}

.logo {
    width: 6.25rem;
}

.wave {
    position: absolute;
}

.wave-white,
.wave-darkblue {
    width: 46rem;
    height: 9rem;
    left: -4.25rem;
}

.wave-white {
    bottom: -5rem;
}

.wave-darkblue {
    bottom: -4.5rem;
}

.wave-lightblue {
    width: 51.25rem;
    height: 9rem;
    bottom: -5rem;
    left: -8.125rem;
}