@use 'vars' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9cc567;
}

section {
    position: relative;
}

.logo {
        width: 6.25rem;
}

.wave {
    position: absolute;
}

.wave-white,
.wave-darkblue {
    width: 46rem;
    height: 9rem;
    left: -4.25rem;
}

.wave-white {
    z-index: 50;
}

.wave-darkblue {
    position: absolute;
    top: -4.5rem;
    z-index: 50;
}

.wave-lightblue {
    width: 51.25rem;
    height: 9rem;
    left: -8.125rem;
    z-index: -100;
}