@use 'vars' as *;

.bordered-button p {
    border: $border-box1;
    padding: .625rem;
    display: inline;
}

.slideshow-container .bordered-button p {
    font-weight: 400;
}

.about-us .bordered-button p {
    display: block;
    width: 8.5rem;
}

.find p {
    border: $border-box2;
}