@use 'vars' as *;

footer {
    padding: 0 1.25rem 1.25rem;
    height: 10rem; 
    position: relative;
    background: $light-blue;
    color: $white; 
    text-align: center;

    .logo {
        margin: 1rem auto 1.25rem;
    }
}

.social-contact {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 0.5rem; 
    padding: 0;

    div:first-child {
        justify-content: space-between;
        width: 3.625rem;
        margin-right: 0.25rem;
    }

    div {
        display: flex;
        justify-content: center;

        p {
            margin-left: 0.125rem;
        }
    }
}

.icon {
    width: 1.5rem;
}