@use 'vars' as *;
@use 'mixins' as *;

footer {
    position: relative;
    background: $light-blue;
    color: $white; 
    padding: 20px; 
    text-align: center;
}

.floating-content {
    position: relative;
    z-index: 100;
}

.logo {
    width: 100px;
    margin-bottom: 0.75rem;
}

.social-contact {
    // border: 2px solid red;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 0.5rem; 
    padding: 0;
    // border: 2px solid red;

    div:first-child {
        justify-content: space-between;
        width: 3.625rem;
        margin-right: 0.125rem;
    }

    div {
        // border: 2px solid red;
        display: flex;
        justify-content: center;
        // justify-content: space-between;
        // margin-right: 1rem;

        p {
            margin-left: 0.125rem;
        }
    }
}

.copyright {
    margin-bottom: 0.5rem;
}

.icon {
    width: 1.5rem;
}