@use 'vars' as *;
@use 'mixins' as *;

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    fill: $white;
    display: block;
    position: fixed;
    // top: .5rem;
    right: 1rem;
    // z-index: 100;
  }

.menu-button .line {
    transition: transform 200ms ease-in 200ms, rotate 200ms ease-in, opacity 0ms 200ms;
    transform-origin: center;
}

.menu-button[aria-expanded=true] .line {
    transition: transform 200ms ease-in, rotate 200ms ease-in 200ms, opacity 0ms 200ms;
    transform-origin: center;
}

.menu-button[aria-expanded=true] :is(.ham-top, .ham-bottom) {
    transform: translateY(45px);
}

.menu-button[aria-expanded=true] .ham-top {
    rotate: 45deg;
    transform: translate(3px, 29px);
}

.menu-button[aria-expanded=true] .ham-middle {
    opacity: 0;
}

.menu-button[aria-expanded=true] .ham-bottom {
    rotate: -45deg;
    transform: translate(-3px, -31px);
}
