@use 'vars' as *;
@use 'mixins' as *;

.hero-carousel {
    height: 100vh;
    text-align: center;
}

.slideshow-container {


}

.slide {
    border: solid 3px blue;

}

h1 {
    position: relative;
    top: 7.25rem;
}

.bordered-button {
    position: relative;
    top: 12rem;
    display: block;
    margin-bottom: 3rem;
}

#heroImage {
    position: absolute;
    top: 31.84%;
    left: 50%;
    transform: translate(-50%, -50%);
    // height: 100%;
    width: 325%;
    z-index: -10;
}