@use 'vars' as *;
@use 'mixins' as *;

.hero-carousel {
    position: relative;
    height: 50vh;
    text-align: center;
}

.slideshow-container {
}

.slide {

    // border: solid 3px blue;
}

h1 {
    position: relative;
    top: 7.25rem;
}

.bordered-button {
    position: relative;
    top: 12rem;
    display: block;
    margin-bottom: 3rem;
}

#heroImage {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 325%;
    z-index: -10;
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    position: relative;
    top: 13.5rem;

    background-color: white;
    width: 12px;
    height: 12px;
    margin-right: 6px;

    border-radius: 64px;
}