@use 'vars' as *;
@use 'mixins' as *;

.hero-carousel {
    position: relative;
    height: 39.25rem;
}

.slideshow-container {
   width: 100%; 
}

#slide {
    img {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 39.25rem;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        z-index: -10;
    }
}

h1 {
    position: relative;
    top: 8rem;
}

.hero-carousel{
    .bordered-button {
        position: relative;
        top: 13rem;
        display: block;
        margin-bottom: 2.5rem;
    }
}

.dots-container {
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    position: relative;
    top: 16.5rem;
    background-color: $white;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    border-radius: 64px;
    cursor: pointer;
}

.dot:nth-child(1) {
    background-color: #429bd6;
}