.installation {
    display: flex;
    justify-content: center;
    align-items: center;

    .flex-container {
        position: absolute;
        margin: auto 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 7.5rem;
    }

    img {
        position: relative;
        height: 21rem;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        z-index: -10;
    }

    h2 {
        position: relative;
        top: 1rem;
        line-height: 1;

        span {
            display: block;
        }
    }
}