@use 'vars' as *;

nav {
    width: 100%;
    position: fixed;
    top: 3.75rem;
    left: 0;
    background-color: $header-bg-color;
}
  
nav > ul {
    margin: 0;
    padding-inline-start: 0;
    display: none;
    list-style: none;
}

nav ul li {
    padding: .25rem .875rem;
}

nav ul li:hover {
    background-color: $light-blue;
}