@use 'vars' as *;
@use 'mixins' as *;

nav {
    background-color: $header-bg-color;
    width: 100%;
    position: fixed;
    top: 3.75rem;
    left: 0;
}
  
nav > ul {
    margin: 0;
    padding-inline-start: 0;
    display: none;
    list-style: none;
    text-transform: uppercase;
    font-family: $font-condensed;
}

nav ul li {
    padding: .25rem .875rem;
}

nav ul li a {
    text-decoration: none;
    color: $white;
}

nav ul li:hover {
    background-color: $light-blue;
}