@use 'vars' as *;
@use 'mixins' as *;

.newsletter {
    top: -1rem;
    height: 7.625rem;
    background-color: $newsletter-bg;
}

.newsletter h2,
.newsletter form {
    position: absolute;
}

.newsletter h2 {
    margin: 1.375rem .625rem 1.125rem;
}

.newsletter form {
    margin: 0 .625rem 1.5rem;
    bottom: 0;
    // width: 100%; //this adds a weird gap under the mouse scroll
}

.newsletter input[type="email"],
.newsletter input[type="submit"] {
    border: none;
    vertical-align: middle;
}

.newsletter input[type="email"] {
    margin-right: .5rem; //there is a left gap between email's right margin and submit
    padding: .625rem 1.25rem .65rem;
    // width: 100%; //this stretches input and pushes submit down
}

.newsletter input[type="submit"] {
    padding: .5rem 1.125rem;
    background-color: $light-blue;
}