@use 'vars' as *;

.newsletter {
    height: 7.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $newsletter-bg;
    
    h2 {
        margin: 1.375rem auto 1rem;
    }
    
    form {
        padding: 0 .625rem 1.5rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    input[type="email"] {
        padding: .625rem 1.25rem .65rem;
        width: 15.5rem;
    }
    
    input[type="submit"] {
        padding: .5rem 1.125rem;
        background-color: $light-blue;
    }
}