@use 'vars' as *;
@use 'mixins' as *;

// .treatment h2,
// .treatment p {
//     position: absolute;
//     z-index: 300;
// }

.treatment {
    display: flex;
    flex-direction: column;
}

.treatment div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.treatment div:not(:last-child) {
    margin: 0 .625rem;
    border-bottom: $border-bottom1;
}

.treatment img {
    margin: .625rem;
    height: 10.125rem;
}