@use 'vars' as *;

.treatment {
    height: 62rem;
    display: flex;
    flex-direction: column;

    h2,
    div,
    p {
        position: relative;
    }
    
    h2 {
        top: 1.75rem;
    }
    
    div {
        top: 1.25rem;
    }
    
    .machine {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .machine:not(:last-child) {
        margin: 0 .625rem;
        border-bottom: $border-line1;
    }
    
    p {
        margin: .375rem 2.25rem;
        top: 1.75rem;
    }
    
    img:not(.wave) {
        margin: .625rem;
        height: 10.125rem;
    }
}