@use 'vars' as *;
@use 'mixins' as *;


.treatment {
    position: relative;
    top: -5.25rem;
    display: flex;
    flex-direction: column;
}

.treatment h2,
.treatment div {
    background-color: $white;
    z-index: 100;
}

.treatment .machine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $white;
}

.treatment .machine:not(:last-child) {
    margin: 0 .625rem;
    border-bottom: $border-bottom1;
}

.treatment img {
    margin: .625rem;
    height: 10.125rem;
}