@use 'vars' as *;

body {
    font-family: $font;
    color:$text-white;
}
h1,
h2,
h3,
footer p {
    font-family: $font-condensed;
    text-transform: uppercase;
    text-align: center;
}

footer p {
    font-size: $font-size-body2;
}

h1,
h2.heading-1 {
    font-size: $font-size-header1;
}

.treatment h2,
.treatment h3 {
    color: $text-lgtgrey;
}

.treatment h2,
.treatment p {
    text-align: center;
}

.treatment h2 {
    margin: 0 auto;
    width: 8rem;
    line-height: 1.1;
}

.treatment h3 {
    width: 6.25rem;
    text-align: left;
}

.treatment p {
    margin: .375rem 2.25rem;
    font-size: $font-size-body2;
    color: black; //will remove, the font colors need to get changed so not the whole body is affected by $font-text-color1
}

.advisor h2,
.advisor p {
    text-align: center;
}

.advisor p {
    font-size: $font-size-body2;
}

.advisor label,
.advisor select {
    font-size: $font-size-select;  
}

.advisor label {
    font-family: $font-condensed;
    font-weight: 700;
}

.advisor select,
.advisor input[type="submit"] {
    font-family: $font;
}

.advisor select {
    color: $text-select;
    font-weight: 500;
}

.advisor input[type="submit"] {
    font-size: $font-size-body1;
    text-transform: uppercase;
    color: $text-white;
}

.about-us p:not(.bordered-button p) {
    font-size: $font-size-body2;
    text-align: center;
}

h2.sign-up {
    font-size: $font-size-header3;
    font-weight: 500;
    text-transform: none;
    text-align: left;
    color: $text-blue;
}

.newsletter input[type="email"] {
    font-family: $font;
    font-size: $font-size-body3;
    color: $text-select;
}

.newsletter input[type="submit"] {
    font-family: $font;
    font-size: $font-size-body1;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
}

nav > ul {
    font-family: $font-condensed;
}

a.bordered-button {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: $text-white;
}

a.view {
    font-weight: 500;
}

h2.find,
a.find {
    color: $text-drkgrey;
}

.contact h2 {
    width: 16.5rem;
}

.own-line {
    display: block;
}