// body
$font: "Roboto";
$font-condensed: "Roboto Condensed";

// colors
$white: rgb(255,255,255);
$dark-blue: rgb(21,74,102);
$light-blue: rgb(1,157,220);
$grey-text: rgb(85,85,85);
$newsletter-bg: rgb(190,220,239);

// header
$header-bg-color: rgba(50,50,50,0.7);



//footer