@use 'vars' as *;

.video-section {
    background-color: $light-blue;
    top: -1.25rem;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    margin: 0 auto;


}

iframe {
    border: 14px solid $dark-blue;
    background-color: $video-bg;
}